* {
  margin: 0;
  padding: 0;
}

body {
  height: 3000px;
}

.tableContainer {
  width: 100%;
  margin: 20px 0;
}

.table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 1200px;
}

td, th {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.currentPage {
  font-weight: bold;
  color: red; /* 선택된 페이지 번호 강조 표시 */
}
