.chatIntroContainer{
  margin: 0 auto;
  padding: 0;
  margin-top: 5%;
}
.searchInput{
  width: 300px;
  height: 57px;
  margin-left: 5%;
  font-size: 20px;
  text-align: center;
}
.searchSelect{
  width: 100px;
  height: 57px;
  font-size: 20px;
  text-align: center;
}
.chatIntroOption{
  font-size: 20px;
}
.chatSearchBtn{
  border: none;
  width: 100px;
  height: 57px;
  background-color: #00823E;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 2%;
}

.chatRequestBtn{
  border: none;
  width: 100px;
  height: 57px;
  background-color: #00823E;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-top: 2%;
}

.chatSearchBtn:hover, .chatRequestBtn:hover{
  cursor: pointer;
}

.chatIntroResultString{
  border-radius: 10px;
  background-color: wheat;
  width: 150px;
  margin-left: 5%;
  margin-top: 2%;
  padding: 5px;
  text-align: center;
}

.chatIntroResultString:hover{
  cursor: pointer;
}

.chatIntroResultString.active{
  background-color: rgb(124, 110, 84);
  color: white;
}

/* -------------------------- */
/* 밑으로 chatcreatedroom */

.chatcontainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #538fff;
  border-radius: 10px;
}

.chatbox {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 147, 147);
  border-radius: 10px;
}

.myMessage {
  text-align: right;
  background-color: #DCF8C6;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  color: #000;
  word-wrap: break-word;
}

.theirMessage {
  text-align: left;
  background-color: #a9dcff;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  color: #000;
  word-wrap: break-word;
}

.chatMsgSendBtn{
  background-color: #4caf50;
  color: white;
}
