.container {
  width: 100%;
  height: 600px;
  background-color: #F4F2EE;
  border-radius: 300px 300px 0 0;
  position: relative;
}

.imgContainer {
  width: 60%;
  height: 600px;
  position: absolute;
  top: -20px;
  overflow: hidden;
  z-index: 1;
}

.mySlides {
  position: absolute;
  top: 40px;
  left: 250px;
  width: 70%;
  height: 540px;
  border-radius: 50px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.mySlides.active {
  opacity: 1;
}

.whiteBox {
  width: 78%;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 180px; 
  right: 200px;
  z-index: 0;
  border-radius: 50px;
}

.btnContainer {
  position: absolute;
  top: 37%;
  left: 59%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px; /* 좌우 간격 */
  grid-row-gap: 50px; /* 상하 간격 */
  z-index: 10; /* z-index 값을 높여서 다른 요소들 위에 배치 */
}

.miniBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
  text-decoration: none;
  color: black;
  z-index: 11; /* z-index 값을 높여서 다른 요소들 위에 배치 */
}

.miniBtn:hover .circle {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px); /* 버튼 띄우는 높이 */
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #EAF9F1;
  position: relative; /* 부모 요소에 relative를 설정하여 자식 요소를 절대 위치로 배치할 수 있게 함 */
}

.icon {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 */
  top: 50%; /* 부모 요소의 세로 중앙 */
  left: 50%; /* 부모 요소의 가로 중앙 */
  transform: translate(-50%, -50%); /* 요소의 중앙을 기준으로 배치 */
  width: 60px;
  height: 60px;
}

.btnName {
  margin-top: 10px;
  font-size: 20px;
}