.main_container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 60px;
}


.main_container > table{
  width: 800px;
  border: 1px solid black;
  height: 60px;
}

.name_td{
  background-color: #00823E;
  border-right: 1px solid black;
  text-align: center;
  padding-right: 30px;
  font-size: 14px;
}

.data_Td{
  height: 20px;
}

.linkButton {
  background-color: #00823E;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
 
}

.linkButton:hover {
  opacity: 0.8;
}
