.container{
  display: flex;
  flex-flow: column;
  width: 500px;
  align-items: center;
}

.container h2{
  font-size: 36px;
  color: #0F3C3C;
  text-align: center;
}

.container p{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.imgs{
  margin-bottom: 30px;
}

.imgs img{
  width: 60px;
}

.kakaobtn{
  width: 400px;
}