.favoriteList {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
 }
 
 .favoriteCard {
   border: 1px solid #ccc;
   padding: 16px;
   border-radius: 8px;
   background-color: #f9f9f9;
   width: 200px;
 }
 
 .favoriteCard img {
   width: 100%;
   height: auto;
   border-radius: 8px;
 }
 