.co_insert_contanier{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.co_insert_image{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 80px;
}

.co_insert_table_container{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 50px;
}

.co_insert_table{
    margin: auto;
    border: none;
    border-top: 2px solid black;
}

.co_insert_tr{
    padding-bottom: 10px;
}

.co_insert_th{
    width: 120px;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #BEB4B4;
    padding-bottom: 20px;
}

.co_insert_td{
    width: 100px;
    border-bottom: 1px solid #BEB4B4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.co_insert_input{
    width: 300px;
    height: 40px;
    font-size: 12px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.co_insert_conditions{
    display: flex;
    justify-content: center;
}

.co_insertBtn{
    width: 160px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 24px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
}

.co_insert_back{
    width: 160px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 24px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
}

.co_insert_footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}