.pl_insert_contanier{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.pl_insert_image{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 80px;
}

.pl_insert_table_container{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 50px;
}

.pl_insert_table{
    margin: auto;
    border: none;
    border-top: 2px solid black;
}

.pl_insert_tr{
    padding-bottom: 10px;
}

.pl_insert_th{
    width: 100px;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #BEB4B4;
}

.pl_insert_td{
    width: 100px;
    border-bottom: 1px solid #BEB4B4;
    padding-top: 20px;
    
}

.pl_insert_input{
    width: 300px;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
}

.pl_insertBtn{
    width: 160px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 24px;
    margin-top: 60px;
}

.pl_insert_back{
    width: 160px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 24px;
    margin-top: 60px;
}

.pl_insert_footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}