.dwc_main_container{
    display: flex;
    flex-flow: column nowrap;
}

.dwc_explanation_container{
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dwc_explanation{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 100px;
}

.dwc_option_container{
    display: flex;
    flex-flow: column nowrap;
    height: 230px;
}

.dwc_link_container{
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
}

.dwc_link{
    width: 180px;
    height: 55px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    background-color: greenyellow;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}

.dwc_link:hover{
    background-color: rgb(139, 228, 7);
    border: 1px solid green;
}

.dwc_label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}

.dwc_info{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dwc_span{
    font-size: 20px;
    margin-bottom: 100px;
    padding-top: 30px;
}

.dwc_hr{
    width: 100%;
}